@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

// FONT
$font-family: 'Raleway', sans-serif;
$navy-blue-mamba: #151e25;
$real-dark: #1f2932;
$stake-gray: #394f63;
$slate-gray: #75818b;
$white: #fff;
$light-red: #ff718d;


$background-color: 'bg-navy-blue-mamba';


html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  scroll-behavior: smooth;
  background-color: $navy-blue-mamba;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}